.Users {
    margin: 15px;
    margin-top: 30px;  
}

.User {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.Info p, h3 {
    margin: 5px;
}

.Info h3 {
    margin-top: 0px;
}

.Avatar {
    width: 100px;
}

.Selected {
    font-weight: bold;
}

.Pages {
    text-align: center;
    font-size: 25px;
    
}

.Pages span {
    margin-right: 10px;
    border: 2px solid rgb(88, 87, 87);
    border-radius: 10px;
}
